<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {{ bootstrap.load_css() }}
</head>
<body style="background-color: aqua; font-family: cursive;">
    <br>
    <div class="text-center">
        <h1>Your Cocktail is {{cocktail['drinks'][0]['strDrink']}}</h1>
        <br>
        <img src="{{cocktail['drinks'][0]['strDrinkThumb']}}" class="rounded w-50">
        <br><br>
        {% for i in range(15) %}
            {% set ing = cocktail['drinks'][0]['strIngredient%d'%(i+1)] %}
            {% if ing != None %}
                <a href="{{links[i]}}" target="_blank"><h1>{{ing}}   &nbsp; {{prices[i]}}</h1><br></a>
            {% endif %}
        {% endfor %}
        <h1 class="text-success">Total: ${{total}}</h1>
        <form action="{{ url_for('drink')}}" method="post">
          </form>
          <br>
          <a href="/" class="text-center btn btn-primary">Go Back</a>
        <br><br>
    </div>
</body>
</html>